{{!-- The footer at the very bottom of the screen --}}
<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
        <div class="site-nav-right">
            {{navigation type="secondary"}}
        {{#is "post"}}
            <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
        {{/is}}
    </div>
    </div>
</footer>


         